
.mainPage {
    width: 100%;
    height: 100vh;
    background: linear-gradient(80deg,#240b36 ,#c31432);
    background-size: 120% 120%;
    animation: gradient-animation 20s ease infinite; 
  display: flex;
  justify-content: center;
  align-items: center;
  animation: background-gradient  3s linear infinite;
 
}
@keyframes background-gradient{
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.login{
    border: 1px solid rgba(255, 255, 255, 0.633);
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.133);
    width: 330px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap !important;
    flex-direction: column;
    position: relative;
}
.headerBox{

    width: 100%;
    height: 45px;
    position: absolute;
    top: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

}
.headerBox>h2{
    color: #2a0108;
    

}
.loginImage{
  color: aliceblue;
  width: 30px;
  height: 30px;
}
.formBox{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: absolute;
    top: 20%;
    gap: 10px;
}
.inputBox{
  padding-top: 10px;
  width: 300px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.inputBox>input{
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 13px;
}
.inputBox>input::placeholder{
  font-size: 10px;
  padding-left: 5px;
  color: #240b36a7;
}
.inputBox>input:focus{
  outline-style: solid;
 outline-color: #240b36;
 background-color: #78658656;
}
.inputBox>label{
  color: #2a0108;
  font-weight: bolder;
}
.btnBox{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
  height: 130px;
  padding-bottom: 5px;
}
.loginBtn{
  width: 140px;
  height: 45px;
  border-radius: 5px;
  background-color: aliceblue;
  color: #2a0108;
  border: none;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  /* padding-left: 10px; */
  transition: 1s;
}
.imageBtn{
  transition: 1s;
  opacity: 0;
  transition: 1s !important;
}
.loginBtn:hover{
  width: 150px;
  justify-content: center;

  
}

.loginBtn:hover .imageBtn{
  opacity: 1;
}